*{
    margin: 0px;
    padding: 0px;
}


/* static */
.static{
    width: 50px;
    background-color: aqua;
    position: static;
    margin: auto;
    padding: 40px;
    text-align: center;
}

/* absolute-1 */
.absolute-1{
    width: 70px;
    background-color: coral;
    position: absolute;
    padding: 35px;
    font-size: 15px;
    text-align: center;
    left: 0px;
    top: 0px;
}

/* absolute-2 */
.absolute-2{
    width: 70px;
    background-color: blueviolet;
    color: white;
    position: absolute;
    padding: 35px;
    font-size: 15px;
    text-align: center;
    right: 0px;
    top: 0px;
}

/* absolute-3 */
.absolute-3{
    width: 70px;
    background-color: chartreuse;
    position: absolute;
    padding: 35px;
    font-size: 15px;
    text-align: center;
    left: 0px;
    bottom: 0px;
}

/* absolute-4 */
.absolute-4{
    width: 70px;
    background-color: darkblue;
    color: white;
    position: absolute;
    padding: 35px;
    font-size: 15px;
    text-align: center;
    right: 0px;
    bottom: 0px;
}

